<!DOCTYPE html>
<html>
<head>
	<title>Remates</title>
	<%= stylesheet_link_tag    'application', media: 'all', 'data-no-turbolinks-track' => true %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

	
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

	<!-- Optional theme -->
	<link rel="stylesheet" href="http://bootswatch.com/cosmo/bootstrap.css">

	<!-- Latest compiled and minified JavaScript -->
	
	<!-- Latest compiled Mathjax -->

	<%= csrf_meta_tags %>
</head>

<body>

<%= render partial:'shared/nav' %>

	<%= yield %>

</body>
</html>
